# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/

# Settings files
appsettings.json
appsettings.*.json

# User-specific files
*.user

# Environment files
*.env
/Controller/appsettings.json
/Controller/appsettings.json
/Controller/appsettings.Development.json
